@use '../../styles/mixin.scss' as mixin;


@include mixin.default {
    .header {
        width: 100%;
        padding: 10px;
        margin-top: 40px;
        display: inline-block;

        @include mixin.phone {
            .header {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        @include mixin.tablet {
            width: 80%;
            margin-left:10%;
        }

        @include mixin.laptop {
            width: 80%;
        }
        
    }
}