@use '../../styles/mixin.scss' as mixin;

@include mixin.default {    

    .nav {
        padding: 5px;
        background-color: transparent;
        position: absolute;

        @include mixin.tablet {
            display: block;
            margin-left: 10%;   
        }
        
        @include mixin.laptop {
            margin-left: 10%;           
        }

        .navUl {

        }

        .navLink {
            font-size: 20px;
            display: inline-block;
            margin: 2px 5px;
            vertical-align: middle;

        }



    }
}