@font-face {
	font-family: "custom-font";
	src: url("./assets/fonts/trajanpro-bold.otf") format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: custom-font;
}

body {
	background: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}