@font-face {
  font-family: "custom-font";
  src: url("./assets/fonts/trajanpro-bold.otf") format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: custom-font;
}

.my-class {
  transform:scale(1, 1);
  transition: 1s;

} 
.my-class:hover {
    transform:scale(1.5, 1.5);
}