@font-face {
  font-family: "custom-font";
  src: url("./assets/fonts/trajanpro-bold.otf") format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: custom-font;
}

.container {
  margin: 0 auto;
}