.gallery {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    margin: 0 auto;
    justify-content: center;
}

.image {
    width: 146px;
    object-fit: cover;
}

.box-style:hover {
    cursor: pointer;
}

.text-style {
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(22 22 22 / 73%) 75%, rgb(0, 0, 0) 100%);
    font-size: 18px;
    line-height: 20px;
    font-family: "Reaver", serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px;
    padding-left: 0px;
    text-shadow: 0px 0px 4px #000;
}

.text-style div img {
    display: inline-block;
    padding: 2px;
    vertical-align: middle;
}

.text-style div p {
    vertical-align: middle;
    line-height: 15px;
    display: inline-block;
    font-size: small;
    width: 80%;
}